* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.play-image {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.starts-video.hidden,
.play-image.hidden {
  display: none;
}