{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "parser": "babel",
  "trailingComma": "none",
  "semi": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": false
}